* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --body-color: #eff1ed;
    --main-color: #4654EE;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    padding: 30px 40px;
}
section {
    padding-top: 100px;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 12;
    padding: 15px 20px;
    transition: 0.4s;
}
.header.change-bg {
    background-color: #e6e6e6;
}
.logo {
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
}
.nav-list {
    display: flex;
    align-items: center;
}
.contents {
    display: none;
}
.nav-list li a {
    color: #222;
    margin-left: 25px;
    font-weight: bold;
    transition: 0.4s;
}
.active {
    color: var(--main-color) !important;
}
.nav-list li a:hover {
    color: var(--main-color);
}
.signup {
    display: none;
}
.home {
    background: url(../images/bg-2.avif);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-color);
}
.intro-text {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
    color: #fff;
}
.intro-text h1 {
    font-size: 50px;
    font-weight: bold;
}
.intro-text h1 .name {
    color: var(--main-color);
}
.intro-text p {
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
}
.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.main-title h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
    padding-bottom: 30px;
}
.about-container .about-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 4px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}
.about-container .about-card:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.about-container .about-card h4 {
    font-size: 24px;
    font-weight: bold;
}
.about-container .about-card p {
    color: #2222228f;
}
.work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.work-card {
    border: 1px solid #ccc;
    border-radius: 20px;
}
.work-card h4,
.work-card p{
    padding: 10px;
}
.work-card h4 {
    font-size: 24px;
    font-weight: bold;
}
.work-card p {
    color: #2222228f;
}
.work-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.work-card img {
    width: 100%;
    height: 400px;
    transition: 0.4s;
}
.work-card:hover .work-image img{
    transform: scale(1.1);
}
.services-container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.services-card {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.services-card::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #4654ee5e;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    border-radius: 10px;
    transition: 0.4s;
}
.services-card:hover::before {
    width: 100%;
    top: 0;
}
.services-card h4 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}
.services-card p {
    color: #2222228f;
}
.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.testimonials-card {
    padding: 20px;
    border-left: 2px solid var(--main-color);
}
.testimonials-card p {
    color: #2222228f;
    padding-bottom: 22px;
}
.contact-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    gap: 5rem;
}
.contact-image img {
    width: 400px;
    height: auto;
}
.contact-info h4 {
    margin-bottom: 25px;
    font-size: 40px;
    color: #717fe0;
}
.contact-info p {
    color: #2222228f;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
form input {
    padding: 15px;
    background-color: #fff;
    color: #222;
    outline: none;
    border: 1px solid #2222228f;
    font-family: 'Poppins', sans-serif;
}
form input[type = "email"] {
    border-right: none;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    transition: 0.4s;
}
form input[type = "email"]:focus {
    border-color: var(--main-color);
}
form input[type = "submit"] {
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: right;
    background-color: var(--main-color);
    color: #fff;
    padding: 16px 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.blog {
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}
.blog:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.blog:hover:hover .blog-image img {
    transform: scale(1.1);
} 
.blog-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.4s;
}
.blog .blog-info{
    padding: 20px;
}
.copyright {
    padding: 20px;
    text-align: center;
    color: #2222228f;
}
.toggle-menu {
    display: none;
}
.close {
    display: none;
}
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -4rem;
    background-color: #fff;
    box-shadow: 3px 2px 16px 4px rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
}
.scrollup i {
    font-size: 1rem;
}
.show-scroll {
    bottom: 4rem;
}
@media screen and (max-width: 667px) {
    .toggle-menu {
        display: block;
        position: fixed;
        left: 0;
        top: 50%;
        background-color: #fff;
        padding: 40px 15px;
        border-radius: 10px;
        box-shadow: 5px 4px 5px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    .toggle-menu i {
        font-size: 1.4rem;
        font-weight: bold;
    }
    .nav-list {
        position: fixed;
        top: 17rem;
        left: -200%;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        text-align: center;
        width: 100%;
        height: 440px;
        row-gap: 1.5rem;
        background-color: #fff;
        border-radius: 30px;
        transition: 0.4s;
        opacity: .9;
    }
    .contents {
        display: block;
        padding: 10px 30px;
        text-align: left;
    }
    .show-menu {
        left: 0;
    }
    .close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--main-color);
        color: #fff;
        padding: 15px 20px;
        border-bottom-left-radius: 10px;
        cursor: pointer;
    }
    .close i {
        font-size: 1.5rem;
    }
    .signup {
        display: block;
        background-color: #4654EE;
        color: #fff;
        padding: 8px 20px;
        border-radius: 4px;
    }
    .signup span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
    }
    .intro-text {
        text-align: left;
    }
    .intro-text h1 {
        font-size: 34px;
    }
    .about-container,
    .work-container,
    .services-container,
    .testimonials-container,
    .contact-container,
    .blogs-container {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 668px) and (max-width: 900px) {
    .about-container,
    .work-container,
    .services-container,
    .testimonials-container,
    .blogs-container {
        grid-template-columns: 1fr 1fr;
    }
    .contact-container {
        grid-template-columns: 1fr;
        place-items: center;
    }
}